
.grid{
    display: grid;
    grid-template-columns:340px 340px 340px;
    grid-template-rows:220px 220px 220px;
    border: 3px;
    margin: 100px;
    column-gap: 10px;
    background-color: rgb(243, 239, 239);
}

.para1{
    padding: 20px;
    text-align: center;
}
.ft{
    width: 350px;
    height: 220px;
}
.price{
    color: orange;
    
}

.detail{
    margin-top:10px;
}

.desc{
    color: grey;
    margin-top: 10px;
}